html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  text-align: center;
  font-size: 1.5rem;
  border: 0.4rem solid black;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem 0.5rem;
  transition: all 0.1s ease 0s;
  background: rgb(0, 0, 0, 0.4);
  cursor: pointer;
}

.key kbd {
  font-size: 4rem;
  color: white;
}

.key .sound {
  color: orange;
  text-transform: uppercase;
  font-size: 1rem;
}